:root {
    --white__color: #fff;
    --black__color: #000;
    --primary__color: #c02ed1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.mt_60 {
    margin-top: 50px;
}

.mt_48 {
    margin-top: 40px;
}