#main{

}

#header {
    background-image: url(../img/header.jpg);
    background-position: 45% 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000px; */
}

.nav {
    /* height: 106px; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    padding: 26px 0;
}

.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__item {
    font-size: 1.6rem;
    color: #fff;
    padding: 0 14px;
    cursor: pointer;
    position: relative;
}

.nav__item--font {
    background-color: #fff;
    padding: 18px;
    border-radius: 60px;
    margin-left: 56px;
    color: #000;
    font-weight: 400;
}

.nav__logo {
    cursor: pointer;
}

.nav__responfont {
    display: none;
}

.nav__home {
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);
    top: 40px;
    position: absolute;
    width: 1250px;
    background-color: #fff;
    left: -550px;
    padding: 30px 30px 0 30px;
    border-radius: 8px;
    display: none;
    z-index: 4;
}

.nav__home::before {
    position: absolute;
    display: block;
    content: "";
    height: 40px;
    width: 120px;   
    left: 500px;
    top: -25px;
}

.nav__item--home:hover .nav__home {
    display: block;
}

.nav__home--list {
    width: 14.28571429%;
    float: left;
    padding: 0 10px;
    transition: top ease-in 0.2s;
    top: 0;
}

.nav__home--list:hover {
    top: -10px;
    position: relative;
}

.nav__home--img {
    max-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 3px;
    height: 195px;
    width: 150px;
    /* transition-duration: .3s; */
}

.nav__home--text {
    font-size: 1.5rem;
    color: rgb(18, 18, 18);
    text-align: center;
    padding: 22px 0 28px 0;
}

/* Pages */
.nav__pages {
    position: absolute;
    background-color: #fff;
    top: 30px;
    left: 15px;
    width: 210px;
    border-radius: 5px;
    padding: 8px 18px;
    display: none;
    z-index: 4;
    animation: fadeIn .3s ease-in;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);
}

.nav__item--pages:hover .nav__pages {
    display: block;
}

.nav__pages::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 60px;
    left: 0;
    top: -18px;
}

.nav__pages--list {
    list-style-type: none;

}

.nav__pages--item {
    padding: 12px 0;
    right: 0%;
    transition: right ease-in-out 0.1s;
}

.nav__pages--item:hover .nav__pages--links {
    position: relative;
    right: -6px;
    color: var(--primary__color);
}

.nav__pages--links {
    display: inline-block;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

/* mega menu */

.nav__container {
     position: absolute;
    width: 1000px;
    top: 40px;
    right: -190px;
    background-color: #fff;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);
    padding-bottom: 16px;
    border-radius: 8px;
    display: none;
    z-index: 4;
}

.nav__container::after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 100px;
    right: 200px;
    top: -20px;
}

.nav__item--menu:hover .nav__container {
    display: block;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__layouts--img {
    margin:     18px 0 4px 0;
    text-align: right;
}

.menu__layouts--header {
    color: #000;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.menu__list {
    list-style-type: none;
}

.menu__item {
    padding: 10px 0;    
    display: block;
}

.menu__links {
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
    font-weight: 300;
    text-decoration: none;
}

.menu__posts--list {
    display: flex;
    align-items: center;
    padding: 18px 0;
}

.menu__posts--border {
    border-bottom: 1px solid #ccc;
}

.menu__posts--border-1 {
    border-top: 1px solid #ccc;
}

.post__text--header {
    color: rgb(39, 38, 38);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.post__text--description {
    display: flex;
    align-items: center;
}

.post__text--calendar {
    color: #5e5e5e;
    font-weight: 400;
    font-size: 1.3rem;
}

.post__text--admin {
    color: #5e5e5e;
    font-size: 1.3rem;
    margin-left: 16px;
}

.menu__posts--text {
    padding-left: 24px;
}

.menu__posts--img {
    width: 67px;
    height: auto;
}

.menu__item:hover .menu__links {
    color: #2b70fa;
}

.post__text--admin:hover,
.post__text--header:hover {
    color: #2b70fa;
}

/* Blog */
.nav__blog {
    position: absolute;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 8px 14px rgb(0 0 0 / 30%);
    top: 36px;
    left: 10px;
    padding: 10px 0;
    display: none;
    /* transition: .3s; */
    z-index: 4;
    animation: fadeIn .4s ease-in;
}

.nav__item--blog:hover .nav__blog {
    display: block;
}

.nav__blog::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    top: -18px;
    left: 0;
    width: 55px;
}

.nav__blog--list {
    list-style-type: none;

}

.nav__blog--item {
    padding: 10px 16px;
    right: 0;
    transition: right linear 0.1s;
}

.nav__blog--item:hover .nav__blog--links {
    position: relative;
    right: -4px;
    color: var(--primary__color);
}

.nav__blog--links {
    font-size: 1.5rem;
    color: rgb(24, 23, 23);
    text-decoration: none;
    line-height: 1.6rem;
}

.header__content {
    display: flex;
    justify-content: space-around;
    padding: 160px 80px 300px 80px;
    align-items: center;
    z-index: 2;
}

.slider__container--create {
    width: 580px;
}

.slider__create--header {
    color: #101010;
    font-family: "Poppins",Sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 90px;
}

.slider__create--text {
    color: #616161;
    font-family: "Poppins",Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 60px;
    margin: 16px 0;
}

.slider__create--final {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.slider__create--links {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #7186f5;
    margin-left: 36px;
    font-weight: 600;
}


.slider__screen--img {
    position: relative;  
    z-index: 3;
}

.container__screen--img {
    /* margin-right: 100px; */
    position: absolute;
    right: 170px;   
    margin-top: 410px;
    z-index: 1;
    animation: imgAnima 1.8s ease-in infinite;
}

#content {
    margin-top: 115px;
    /* display: none; */
}

.content__premium {
    padding: 0 100px;
    margin-bottom: 110px;
}

.premium {
    background: url(../img/premium.png) center center / cover no-repeat;   
    padding: 120px 0;
}
.premium__name {
    color: rgb(192 46 209);
    text-align: center;
    line-height: 18px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 6px;
}

.premium__subname {
    color: rgb(16 16 16);
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
}

.premium__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 52px;
    padding: 0 38px;
}

.premium__body--item {
    padding: 0 10px;
    display: block;
    transition: .3s;
    z-index: 1;
    position: relative;
}

.premium__body--item:hover {
    transform: translateY(-15px);
}

.premium__item--header {
    color:rgb(14 17 51);
    font-family:Roboto;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.1px;
    line-height: 25px;
    margin: 0px 0px 13px;
}

.premium__item--description {
    color: rgb(80 80 86);
    letter-spacing: 0.1px;
    line-height: 28.8px;
    font-size: 16px;
    font-weight: 300;
}

.premium__body--res {
    display: none;
}

.content__customer {
    /* display: none; */
    margin-bottom: 70px;
    display: flex;
    padding: 0 100px 0 10px;
    /* justify-content: space-around; */
}

.customer__img {
    /* width: 679px;
    height: 722px; */
    max-width: 100%;
    height: auto;
    padding-right: 8px;
    width: 45%;
    animation: imgAnima 1.4s ease-in infinite;
    will-change: transform;
}

.customer__reactions {
    padding-left: 8px;
    align-content: center;
    display: flex;
    align-items: center;
    width: 55%;
}

.customer__reactions--name {
    color: rgb(192 46 209);
    font-family:Poppins;
    font-weight:600;
    letter-spacing:0.1px;
    line-height:16px;
    font-size: 1.6rem;
    text-align:left;
}

.customer__reactions--subname {
    color: rgb(16 16 16);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 48px;
    text-align: left;   
    text-transform: capitalize;
    margin: 8px 0 16px 0;
}

.customer__reactions--description {
    color: rgb(97 97 97);
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.customer__reactions--tick {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.experience__tick {
    display: flex;
    margin: 14px 0;
}

.experience__tick--2 {
    padding-left: 44px;
}

.customer__reactions--tick i {
    color: #c02ed1;
    font-weight: 900;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-align: left;
    font-size: 1.8rem;
}

.customer__reactions--tick p {
    color: #54595f;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 26px;
    padding: 0px 0px 0px 8px;
    text-align: left;
    font-size: 1.6rem;
}

.customer__reactions--btn {
    margin-top: 22px;
    background-color: #0906ac;
}

.content__experience--img {
    background-image: url(../img/customer__reaction-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
}

.experience__img {
    padding-right: 8px;
    animation: imgAnima 1.4s ease-in infinite;
    will-change: transform;
    max-width: 100%;
    height: auto;
}

.content__experience {
    padding: 0 0 0 100px;
}

.experience__reactions {
    width: 55%;
}

.content__experience--res {
    display: none;
}

.content__screenshot {
    background-image: url(../img/screen.jpg);
    background-position: center/center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

.screenshot__header {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}

.screenshot__subhead {
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    padding-top: 8px;
}

.screenshot__body {
    padding-top: 50px;
    text-align: center;
}

.screenshot__list {

}

.screenshot__link {
    padding-left: 4px;
    padding-right: 4px;
}

.screenshot__link--img {
    width: 275px;
    height: auto;

}

#footer {
    
}


