@media (min-width: 992px){
    #header {
        background-position: 45% 0;
    }
}

/* nav */
@media (min-width: 1100px) and (max-width: 1350px) {
    .nav__home {
        width: 1100px;
        left: -390px;
        padding: 26px 26px 0 26px;
    }

    .nav__home--img {
        height: 175px;
        width: 140px;
    }

    .nav__container {
        right: -260px;
    }

    .shape__img--item2 {
        right: -15%;
        bottom: 15%;
    }

    .shape__img--item3 {
        left: -12%;
        bottom: 45px;
    }

    .tes__shape {
        padding-left: 60px;
    }

    .tes__user {
        padding-right: 60px;
    }

    .content__down {
        padding: 112px 60px 98px 60px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .nav__home {
        width: 960px;
        left: -290px;
    }

    .nav__home--img {
        height: 165px;
        width: 130px;
    }

    .nav__container {
        right: -300px;
        width: 960px;
    }

    .tes__shape {
        padding-left: 20px;
    }

    .tes__user {
        padding-right: 20px;
    }

    .shape__img--item1 {
        top: -22%;
    }

    .shape__img--item2 {
        right: -18%;
        bottom: 14%;
    }

    .shape__img--item3 {
        left: -13%;
        bottom: 6px;
    }

    .price__item--popular {
        margin-left: 40px;
    }
}

@media (max-width: 1100px) {
    .content__down {
        display: block;
        text-align: center;
        padding: 0;
    }

    .down__body {
        width: 100%;
        padding: 76px 100px;
        margin: 0;   
    }

    .down__text {
        font-size: 18px;
        text-align: center;
    }
    .down__header {
        text-align: center;
        line-height: 52px;
        font-size: 36px;
    }
    
    .down__click {
        display: flex;
        justify-content: center;
    }

    .down__image{
        padding-bottom: 76px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .header__content {
        padding: 160px 8px 300px 8px;
        
    }
}

@media (max-width: 991px) {
    #header {
        background-position:  35% -58px;
    }

    .nav__list {
        display: none;
    } 

    .nav__responfont {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 11px;
        background-color: #c02ed1;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
    }

    .nav {
        justify-content: space-between;
        padding: 28px 38px;
    }

    /* header__content */
    .header__content {
        display: block;
        text-align: center;
        padding-top: 160px;
        padding-bottom: 0px;
    }

    .slider__container--create {
        display: inline-block;
    }

    .container__screen--img {
        right: 10px;
        margin-top: 440px;
    }

    .slider__create--text {
        color: #202124;
        font-size: 22px;
        font-weight: 400;
    }

    .slider__create--final {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .slider__screen--img {
        margin-top: 42px;
    }

    /* content */
    #content {
        margin-top: 50px;
        /* display: none; */
    }
    .content__premium {
        padding: 70px 10px;
        margin-bottom: 0;
    }

    .premium__body {
        display: none;
    }

    .premium__body--res {
        display: block;
        margin-top: 58px;
    }

    .premium__res {
        display: flex;
        align-content: center;
        text-align: center;
    }

    .premium__res--item {
        padding: 10px;
        padding-right: 20px;
    }

    .premium__item--header {
        font-size: 25px;
        margin-bottom: 13px;
        font-weight: 800;
    }

    .premium__item--description {
        font-size: 18px;
    }

    .content__customer {
        display: block;
        padding: 70px 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .customer__img {
        width: 100%;
    }
    
    .customer__reactions {
        width: 100%;
    }
    
    .customer__reactions--subname,
    
    .customer__reactions--name {
        text-align: center;
    }
    
    .customer__reactions--tick {
        justify-content: center;
    }

    .customer__reactions--btn {
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    .content__experience {
        display: none;
    }

    .content__experience--res {
        display: block;
        padding: 20px;
    }

    .content__experience--img {
        width: 100%;
        margin-bottom: 60px;
    }

    .experience__tick {
        justify-content: center;
    }
    
    .screenshot__body {
        padding: 0 40px;
        display: block;
    }

    .screenshot__btn {
        display: none;
    }

    .content__tes {
        display: block;
        /* text-align: center; */
    }

    .tes__shape {
        width: 100%;
        padding: 0;
        display: block;
    }
    
    .tes__user {
        margin-top: 80px;
        width: 100%;
        padding-right: 0;
        display: block;
    }

    .tes__header,
    .tes__subhead {
        text-align: center;
    }

    .shape__img--item2 {
        right: 4%;
    }

    .tab__pane {
        padding: 0 20px;
    }

    .pane__content {
        margin-top: 10px;
    }

    .pane__font {
        margin-right: 200px;
    }

    .tabs {
        margin-left: 50px;
        margin-top: 20px;
        border-bottom: 8px;
    }

    .price__item--popular {
        margin-left: 25px;
    }
}
@media (max-width: 767px) {
    #header {
        background-position: 39% 0;
    }

    .nav {
        padding: 20px 30px;
    }
    .header__content {
            /* padding: 10px 10px 0px 10px; */
            padding: 150px 0 0 0;
        }

    .slider__create--header {
        font-size: 36px;
        line-height: 40px !important;
        display: block;
    }

    /* content */
    .premium {
        padding: 70px 10px 50px;
    }
    .premium__res {
        display: block;
    }

    .premium__item--header {
        padding-top: 24px;
    }

    .slider__create--text {
        padding: 0 8px 8px 8px;
        margin-bottom: 12px;
        font-size: 1.8rem;
        color: rgba(97, 97, 97);
        font-weight: 400;
    }

    .slider__container--create {
        display: inline-block;
        width: 100%;

    }

    .slider__screen--img {
        display: inline-block;
        width: 100%;
        padding: 0 12px;
    }

    .slider__create--final {
        display: inline-flex;
        padding-top: 38px;
    }

    .customer__reactions--name {
        margin-top: 16px;
    }

    .experience__tick {
        display: inline-block;
        text-align: center;
    }

    .experience__tick--2 {
        padding-left: 0;
    }

    .content__screenshot {
        display: none;
    }

    .content__price--body {
        margin: 0 30px !important;
    }

    .down__body {
        padding: 76px 20px;
    }
}

@media (max-width: 400px) {
    .slider__create--final {
        display: inline-flex;
    }

    .container__screen--img {
        margin-top: 390px;
    }

    .slider__create--header {
        line-height: 60px;
        margin-top: 24px;
        margin-bottom: 36px;
    }

    .slider__create--text {
        display: inline-block;
    }

    .content__premium {
        padding-bottom: 16px;
    }

    .slider__create--header {
        line-height: 70px;
    }

    .down__click {
        display: block;
    }

    .down__btn--1 {
    }

    .down__btn--2 {
        display: block; 
        margin-left: 90px;
        padding: 21px 29px 16px 29px;
        margin-top: 18px;
    }
}

@media (max-width: 820px) {
    .content__price--body {
        display: block;
        margin: 0 100px;

    }

    .price__item {
        margin: 0;
        width: 100%;
    }

    .content__price--res {
        margin-bottom: 50px;
    }

    .price__item--btn {
        margin-bottom: 46px;
    }

    .price__item--popular {
        margin-left: 145px;
    }
}
