@media (min-width: 992px){
    #header {
        background-position: 45% 0;
    }
}

/* nav */
@media (min-width: 1100px) and (max-width: 1350px) {
    .nav__home {
        width: 1100px;
        left: -390px;
        padding: 26px 26px 0 26px;
    }

    .nav__home--img {
        height: 175px;
        width: 140px;
    }

    .nav__container {
        right: -260px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .nav__home {
        width: 960px;
        left: -290px;
    }

    .nav__home--img {
        height: 165px;
        width: 130px;
    }

    .nav__container {
        right: -300px;
        width: 960px;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .header__content {
        padding: 80px 8px 300px 8px;
        
    }
}

@media (max-width: 991px) {
    #header {
        background-position:  35% -58px;
    }

    .nav__list {
        display: none;
    } 

    .nav__responfont {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        padding: 16px;
        background-color: #c02ed1;
        color: #fff;
        cursor: pointer;
    }

    .nav {
        justify-content: space-between;
        padding: 0 38px;
    }

    /* header__content */
    .header__content {
        display: block;
        text-align: center;
        padding-bottom: 0px;
    }

    .slider__container--create {
        display: inline-block;
    }

    .container__screen--img {
        right: 10px;
        margin-top: 440px;
    }

    .slider__create--text {
        color: #202124;
        font-size: 22px;
        font-weight: 400;
    }

    .slider__create--final {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .slider__screen--img {
        margin-top: 42px;
    }

    /* content */
    #content {
        margin-top: 50px;
        /* display: none; */
    }
    .content__premium {
        padding: 70px 10px;
        margin-bottom: 0;
    }

    .premium__body {
        display: none;
    }

    .premium__body--res {
        display: block;
        margin-top: 58px;
    }

    .premium__res {
        display: flex;
        align-content: center;
        text-align: center;
    }

    .premium__res--item {
        padding: 10px;
        padding-right: 20px;
    }

    .premium__item--header {
        font-size: 25px;
        margin-bottom: 13px;
        font-weight: 800;
    }

    .premium__item--description {
        font-size: 18px;
    }

    .content__customer {
        display: block;
        padding: 70px 20px;
        text-align: center;
        margin-bottom: 0;
    }

    .customer__img {
        width: 100%;
    }
    
    .customer__reactions {
        width: 100%;
    }
    
    .customer__reactions--subname,
    
    .customer__reactions--name {
        text-align: center;
    }
    
    .customer__reactions--tick {
        justify-content: center;
    }

    .customer__reactions--btn {
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
    }

    .content__experience {
        display: none;
    }

    .content__experience--res {
        display: block;
        padding: 20px;
    }

    .content__experience--img {
        width: 100%;
        margin-bottom: 60px;
    }

    .experience__tick {
        justify-content: center;
    }

@media (max-width: 767px) {
    #header {
        background-position: 39% 0;
    }

    .header__content {
        /* padding: 10px 10px 0px 10px; */
        padding: 0;
    }

    /* content */
    .premium {
        padding: 70px 10px 50px;
    }
    .premium__res {
        display: block;
    }

    .premium__item--header {
        padding-top: 24px;
    }

    .slider__create--text {
        padding: 8px;
        display: block;
    }
    
}

